body {
	margin: 0 auto;
	font-family: Roboto;
}

a {
	text-decoration: none;
	
}


.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	
}

.header {
	display: flex;
	background-color: #f6fecd;
	justify-content: space-between;
}

.header-text a {
	padding-left: 20px;
	color: #657512;
	text-decoration: none;
}


.header-text a:hover {
	text-decoration: underline;
}

.naslov {
	color:#46d10f 
}


.main-menu {
	display: flex;
}

.main-menu-item {
	background-color: #f6fecd;
	padding: 30px;
	cursor: pointer;
	
}

.main-menu-item a {
	color: #657512;
}

.main-menu-item:hover a {
	color: #FFFFFF;
}

.main-menu-item:hover {
	background-color: #657512;
	
	padding: 30px;
}


.user-menu {
}


.body-menu-link a {
	color: #ffffff;
	text-decoration: none;
	background-color: #4287f5;
	padding: 10px;
	border: solid;
	border-color: #4287f5;
	border-radius:10px;
	font-weight: bold;
}

.red-link a {
	background-color: #bd1313;
	border-color: #bd1313;
}

.body-menu-link a:hover {
	background-color:#5796fa;
	border-color:#5796fa;
}

.paragraph-pink {
	color: #db0066; 
	font-size: 30px 
}



.paragraph-pink::selection {
	background-color:  #eb4034;
	color: #000000;
}

.paragraph-aquamarine {
	color: #275b6e 
}

.slika-jezek {
	width: 20%;
}

.footer {
	margin-top: auto;
}

